h1 {
  margin-top: 0;
}
header {
  background: #000080;
  color: yellow;
  margin-bottom: 0%;
  text-align: center;
}
.square {
  background: #000080;
  height: 14vh;
  border: .5vw solid black;
}

a {
  font-size: 3vw;
  color: yellow;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.title {
  background-color: #000080;
  color: #f6f6f6;
  border: 1vw solid #B6B3B3;
}
.row {
  margin-bottom: 0;
}
